body {
   font-family: "Open Sans", sans-serif;
   background-color: white;
   color: #655773;
   text-align: center;
   line-height: normal;
}

header {
   background-color: #AE8BA1;
   background-repeat: no-repeat;
   background-image: linear-gradient(to top, #AE8BA1, #F2ECB6);
   color: white;
   padding-top: 5em;
   padding-bottom: 5em;
}

main {
   padding-top: 2em;
}

div {
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
}

img {
   padding: 15px;
}

h1 {
   font-size: 4em;
   font-weight: 600; 
   letter-spacing: 5px;
}

h2 {
   font-size: 3em;
   font-weight: 600;
   letter-spacing: 5px;
   padding-bottom: 20px;
}

h3 {
   font-size: 2em;
   letter-spacing: 5px;
   padding: 1em;
}

a {
   color: #AE8BA1;
   background-color: transparent;
}

footer {
   padding: 1em;
}